body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}

a {
    color: #00B7FF;
}

.resume-nav-header {
    font-weight: bold;
}

.navbar-user-image {
    padding-top: 10px;
    padding-right: 10px
}

div.comma-list {
    margin-bottom: 10px;
}

.comma-list-header {
}

.comma-list {
    display: inline;
    list-style: none;
}

.comma-list li {
    display: inline;
}

.comma-list li:before {
    content: ", ";
}

.comma-list li:first-child:before {
    content: "";
}
